{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "overrides": [
    {
      "files": ["*.js", "*.mjs", "*.cjs"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": ["*.css", "*.scss", "*.less"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "printWidth": 120,
        "proseWrap": "preserve"
      }
    }
  ]
}
